body {
    background-color: rgb(2, 3, 3);
}

.tiboo {
    height: 15%;
    width: 16%;
    border-radius: 120px;
    margin-left: 42%;
}

.info {
    color: white;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(39, 171, 180);
    font-size: 20px;
    border-radius: 70px;
}

.about {
    text-decoration: underline;
}

.education {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.edu {
    text-align: center;
    color: white;
    text-decoration: underline;
    background-color: rgb(21, 78, 71);
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: large;
    border-radius: 70px;
}

.a {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.skills {
    text-align: center;
    color: white;
    text-decoration: underline;
    background-color: rgb(90, 35, 65);
    padding-bottom: 10px;
    padding-top: 5px;
    font-size: large;
    border-radius: 70px;
}

.b {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.c {
    background-color: rgb(102, 121, 122);
    text-align: center;
    font-size: large;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 70px;
}